<?xml version="1.0" encoding="utf-8"?>
<aion>
	<mode>aion</mode>
	<id>[NODE-ID-PLACEHOLDER]</id>
	<api>
		<rpc active="true" ip="127.0.0.1" port="8545"></rpc>
		<java active="true" ip="127.0.0.1" port="8547"></java>
		<nrg>
			<default>1E9</default>
			<max>100E9</max>
		</nrg>
	</api>
	<net>
		<id>0</id>
		<nodes>
			<node>p2p://2da62542-999f-4405-bdb3-50d8c61bed61@52.237.31.69:30303</node>
			<node>p2p://c1f42646-279a-441e-bba7-bfebfc1eec63@52.179.100.107:30303</node>
			<node>p2p://d9242b38-cf4e-4654-9995-2727fee3dd9d@13.95.218.95:30303</node>
			<node>p2p://0466a78b-814b-4a5d-844e-7054e48f0d28@191.232.176.213:30303</node>
			<node>p2p://f9ea8c08-6f2d-4e64-91a2-d7186d76e096@52.231.206.150:30303</node>
		</nodes>
		<p2p>
			<ip>127.0.0.1</ip>
			<port>30303</port>
			<discover>false</discover>
			<show-status>false</show-status>
		</p2p>
	</net>
	<sync>
		<blocks-import-max>32</blocks-import-max>
		<blocks-queue-max>64</blocks-queue-max>
		<show-status>false</show-status>
	</sync>
	<consensus>
		<mining>true</mining>
		<miner-address>0000000000000000000000000000000000000000000000000000000000000000</miner-address>
		<cpu-mine-threads>2</cpu-mine-threads>
		<extra-data>AION</extra-data>
	</consensus>
	<db>
		<path>database</path>
		<vendor>leveldb</vendor>
		<enable_heap_cache>false</enable_heap_cache>
		<max_heap_cache_size>1024</max_heap_cache_size>
		<enable_db_cache>true</enable_db_cache>
		<enable_db_compression>true</enable_db_compression>
	</db>
	<log>
		<GEN>INFO</GEN>
		<VM>ERROR</VM>
		<SYNC>INFO</SYNC>
		<CONS>INFO</CONS>
		<DB>ERROR</DB>
	</log>
</aion>
