# aion
/config/
/database/
/keystore/
/pack/
/reports/
/cache/
/ssl_keystore/
/log/
/rt/
/web3/

# ide
/.idea/
/mod*/.idea/
/mod*/*.iml

# build
/build/
/mod/
/mod*/build/
/mod*/native/
/native/linux/blake2b/libblake2b.so
/native/linux/equihash/equiMiner.so

# ci
/report/
/mod*/report/

# ant
.ant-targets-build.xml

# local network
/node1/
/node2/
/node3/
/node4/

# fastvm and solidity
fastvm_*.tar.gz
solidity_*.tar.gz
native/linux/fastvm
native/linux/solidity


