[submodule "aion_fastvm"]
    path = aion_fastvm
    url = https://github.com/aionnetwork/aion_fastvm
    branch = master 
[submodule "aion_api"]
    path = aion_api
    url = https://github.com/aionnetwork/aion_api
    branch = master
[submodule "aion_vm_api"]
	path = aion_vm_api
	url = https://github.com/aionnetwork/vm_api.git
	branch = dev
