# aion
config/
database/
keystore/
pack/

# ide
.idea/
mod*/.idea/
mod*/*.iml

# build
build/
mod/
*/build/
native/linux/blake2b/libblake2b.so

# ci
*/report

.ant-targets-build.xml
modTxPoolImpl/native/
